fastapi==0.128.0
uvicorn==0.40.0
python-multipart==0.0.6
soundfile==0.12.1
librosa==0.10.0
numpy==1.24.3
llama-cpp-python==0.2.85
tiktoken==0.12.0
redis==7.0.1
requests==2.31.0
python-dotenv==1.0.0
gradio-client==2.0.3

pygame==2.6.1
#playsound==1.3.0
#pydub==0.25.1
#simpleaudio==1.0.4